<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <section class = "topSection">
            <p>Descuento 20%</p>
        </section>
        <section class = "bottomSection">
            <a href="../index.html"><img src="../img/logo.png" alt="Logo"></a>
            <h1 >Nombre Tienda</h1>
        </section>
        <nav>
            <ul>
                <li><a href="contact.html">Contacto</a></li>
                <li><a href="register.html">Registrarme</a></li>
                <li><a href="login.html">Ingresar</a></li>
            </ul>
        </nav>
    </header>
    <section class="formulario">
        <form action="../index.html" method="post">
            <h2>Login</h2>
            <input type="email" placeholder="Ingresa tu usuario o email" name="email" required>
            <input type="password" placeholder="Ingresa tu contraseña" name="password" required>
            <button class="boton-log" type="submit">Entrar</button>
            <a href="register.html"><span>¿No tienes una cuenta?</span> Registrarme</a>
        </form>
    </section>
    <footer>
        <p>Todos los derechos reservados Front End 1</p>
        <img src="../img/vector.png" alt="logo de Git Hub">
    </footer>
</body>
</html>