*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}

/*-------Header-------*/

.topSection{
    background-color: #1CD1B0;
    padding: 10px;
    font-size: 16px;
}

.bottomSection{
    background-color: #00669F;
    padding: 28px;
    font-size: 40px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
h1 {
    font-weight: 400;
}

/*-------Main-------*/
main section article{
    display: inline-block;
}
.box{
    margin: 150px 30px 153px 32px;
}
.BoxTopBat{
    background-image: url(../img/BackgroundBatman.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 193px;
    position: relative;
}
.BoxTopHar{
    background-image: url(../img/BackgroundHarley.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 193px;
    position: relative;
}
.fa-heart{
    color: #CC2424;
    font-size:30px;
    position: absolute;
    top: 15px;
    left:21px;
}
.imgPerfil{
    border-radius: 100%;
    position: absolute;
    bottom:-53px;
    left: 90px;
}
.BoxBottom{
    width:300px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 392px;
}
h3 {
    text-transform: uppercase;
    font-size:30px;
    padding:100px 0px 0px;
}
article div p {
    padding:10px 16px;
    text-align: left;
}
article div button{
    background-color: #00669F;
    color: #F3F3F3;
    border: none;
    font-size:15px;
    padding:15px 35px;
    margin:37px 85px 18px;
}
/*-------Footer-------*/

footer p{
    background-color: #00669F;
    padding: 16px;
    color:#FFF9F9;
}