*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
}
/*-------Header-------*/
header{
    background-color: #222222;
    color: #F3F3F3;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    margin: 10px 20px;
}
header nav{
    margin: 20px;
}
header nav ul{
    display: flex;
}
header nav ul li{
    padding: 0px 6.5px;
}

/*-------Main-------*/
main{
    background-color: #E5E5E5;
    padding: 35px 19px;
}
section {
    display: flex;
    justify-content: space-evenly;
}
#box-left{
    background-image: url(../img/delivery.jpg);
    background-repeat: no-repeat;
    width:490px;
    height: 350px;
    border-radius: 5px;
    margin: 5px;
}
h2{
    color: #FC200C;
    font-size: 24px;
    font-weight: 700;
}
h2 span{
    color: white;
}
#box-left__title{
    padding: 20px;
}
#box-right{
    background-color: #FFFFFF;
    width:490px;
    height: 350px;
    border-radius: 5px;
    margin: 5px;
    padding: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    
}
#box-right__title{
    margin-bottom: 20px;
}
#box-right__cont{
    display: flex;
    justify-content: space-between;
}
h3{
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0px;
}
ol li{
    font-weight: 700;
    padding: 5px;
}
#box-right__cont img{
    width: 92px;
    height: 129px;
    align-self: center;
    margin-left: 100px;
}

/*-------Footer-------*/
footer{
    background-color: #222222;
    color: #F3F3F3;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img{
    margin: 35px 42px;
}
footer ul{
    display: flex;
    flex-direction: column;
    margin: 19px 20px;
}
footer ul li{
    padding:6px;
}