<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0b3ba22398.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Sobre Mi</title>
</head>
<body>
    <header>
        <img src="../img/foto-delfi.jpg" alt="Foto de Perfil de Delfina">
        <nav>
            <ul type=none>
                <li> <a href="../index.html">Queres volver a mi CV</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>SOBRE MI</h1>
        <p class="texto">Soy una persona apasionada que le gusta la programacion y aunque no peque ni con cola también los deporte (cuanto mas extremos mejor jajaja) <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, ea in nesciunt eos fuga aliquid magni doloremque repellendus numquam pariatur optio iste corporis iure voluptatum repellat reiciendis? Placeat, distinctio animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, aut laudantium laborum facilis, odit adipisci consectetur optio ad iste eveniet velit accusantium sit modi excepturi possimus. Asperiores earum ullam ipsum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita dicta nostrum, at alias asperiores numquam, cupiditate tempore eveniet maxime nulla non impedit quas ut labore repellendus voluptates ducimus blanditiis minus.</p>
    </main>
    <footer>
        <p> <span class="numero">0810-DELFI </span>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
        </p>
    </footer>
</body>
</html>